@font-face{
    font-family:'MissionGothic400';
    src:url("../fonts/Mission_Gothic_Regular.woff");
}
@font-face{
    font-family:'MissionGothic300';
    src:url("../fonts/Mission_Gothic_Light.woff");
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	background: url("../img/bg.jpg");
	background-position: center center;
}
.ui-header {
    background: url("../img/bg-header.jpg");
    height: 5em;
    overflow: hidden;
}
.ui-header h1{
	font-family:'MissionGothic300', sans-serif;
	font-size: 2em !important;
	color: #fff;
	font-weight: 400 !important;
	white-space: normal !important;
	text-shadow: none !important;
}
.ui-footer {
  background: #cccccc; }
.ui-page-theme-a{
	background-color: transparent !important;
}
.ui-header .ui-btn{
	background-color: transparent !important;
	background-image: none !important;
	border-color: #fff !important;
	font-size: 2em;
}
.ui-btn-icon-notext:after{
	background-color: transparent !important;
	border-color: #fff  !important;
}
.ui-header .ui-btn-icon-notext{
	font-size: 1em !important;
	margin-top: 3% !important;
	margin-left: 2% !important;
	border: 1px solid #fff !important;
}
.ui-panel-wrapper {
	float: left;
	width: 100%;
}
.logo{
	width: 100%;
	text-align: center;
	float: left;
	margin-bottom: 3em;
	margin-top: 8em;
}
.logo.menor{
	margin-bottom: 0em;
	margin-top: 3em;
}
.ui-content p {
	font-family: 'MissionGothic300', sans-serif;
	font-size: 2em !important;
	color: #fff;
	font-weight: 400 !important;
	white-space: normal !important;
	text-shadow: none !important;
	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-top: 2em;
	float: left;
}
.divisor{
	width: 76%;
	height: 2px;
	margin-left: 12%;
	float: left;
	background-image: url("../img/divisor.jpg");
	margin-top: 1em;
	margin-bottom: 1em;
}
.ui-btn{
	width: 73%;
	float: left;
	font-family: 'MissionGothic300' !important;
	border-color: transparent !important;
	border: none !important;
	background-color: #3a3669 !important;
	border-radius: 50px;
	margin-left: 10% !important;
	font-size: 1.8em !important;
	color: #fff !important;
	text-shadow: none !important;
	font-weight: 300 !important;
	letter-spacing: 1.2px;
	text-overflow: initial !important;
	overflow: visible !important;
	white-space: normal !important;
}
.ui-btn.branco{
	background-color: #fff !important;
	color: #3a3669 !important;
}
.academicas{
	background-image: url("../img/academicas.jpg");
	background-position: 2%;
	background-repeat: no-repeat;
}
.financeiras{
	background-image: url("../img/financeiras.jpg");
	background-position: 2%;
	background-repeat: no-repeat;
}
.cadeado{
	background-image: url("../img/cadeado.jpg");
	background-position: 3% 35%;
	background-repeat: no-repeat;
}
.lapis{
	background-image: url("../img/lapis.jpg");
	background-position: 3%;
	background-repeat: no-repeat;
}
#maps {
  width: 100%;
}
#block{
	width:80px; height: 80px; background:red;
}
#triangle{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 30px 60px 30px;
	border-color: transparent transparent #007bff transparent;
}
.nav-search .ui-btn{
	background-color: transparent !important;
	color: #000 !important;
}
/* First breakpoint at 576px */	
/* Inherits mobile styles, but floats containers to make columns */	
@media all and (max-width: 36em){
	.ui-header h1{
		font-size: 1.2em !important;
	}
	.ui-header {
    height: 3em;
	}
	.ui-header .ui-btn-icon-notext {
		margin-top: 2% !important;
	}
	.logo {
		margin-top: 1em;
	}
	.logo.menor{
		margin-bottom: 0em;
		margin-top: 1em;
	}
	.ui-content p {
		font-size: 1.2em !important;
		width: 100%;
		margin-left: 0;
		margin-top: 1em;
		margin-bottom: 0px;
	}
	.divisor {
		width: 100%;
		height: 2px;
		margin-left: 0%;
	}
	.ui-content .ui-btn {
		width: 95%;
		padding: 0.3em 0.4em !important;
		/*padding-left: 0px !important;
		padding-right: 0px !important;*/
		background-size: 1.5em;
		font-size: 1.0em !important;
		margin-left: 0px !important;
	}
	.ui-header .ui-title, .ui-footer .ui-title{
		margin: 0 25% !important;
	}
}

/************************ LOGAR ********************/

#logar input{
	width: 79%;
	float: left;
	font-family: 'MissionGothic300' !important;
	border-color: transparent !important;
	border: none !important;
	background-color: #fff !important;
	border-radius: 50px;
	margin-left: 10% !important;
	font-size: 1.8em !important;
	color: #3a3669 !important;
	text-shadow: none !important;
	font-weight: 300 !important;
	letter-spacing: 1.2px;
	text-indent: 75px;
	background-image: url("../img/cadeado.jpg");
	background-position: 3% 35%;
	background-repeat: no-repeat;
}
.ui-page-theme-a .ui-body-inherit{
	border: none !important;
}
#logar .logo {
	margin-bottom: 0em;
}
#logar .ui-content p{
	margin-top: 1em;
	width: 100%;
	margin-left: 0em !important;
}
#logar .divisor{
	margin-top: 2em;
	margin-bottom: 2em;
}
#logar button{
	width: 79%;
	float: left;
	font-family: 'MissionGothic300' !important;
	border-color: transparent !important;
	border: none !important;
	background-color: #3a3669 !important;
	border-radius: 50px;
	margin-left: 10% !important;
	font-size: 1.8em !important;
	color: #fff !important;
	text-shadow: none !important;
	font-weight: 300 !important;
	letter-spacing: 1.2px;
}

input::-webkit-input-placeholder { /* WebKit browsers */
  color: #3a3669  !important;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #3a3669  !important;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #3a3669  !important;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #3a3669  !important;
}

/************************ LOGADO ********************/

#logado .logo{
	margin-bottom: 10em;
	margin-top: 3em;
}